&.contacts {
    .block {
        .item {
            display: flex;
            align-items: center;
            .title {
                font-family: helv-b;
                transition: .3s;
            }
            .link {
                margin-left: 20px;
                user-select: all;
                padding: 5px 10px;
                border: 1px solid grey;
                border-radius: 20px;
                box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.55);
                transition: 0.3s;
                transform: translateX(-100px);
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                .title {
                    transform: translateX(10px);
                }
                .link {
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
