&.profile {
    background: #c5b0eb;
    .avatar {
        height: 300px;
        width: 300px;
        border-radius: 2000px;
        object-fit: cover;
        display: block;
        margin: 0 auto;
    }
    .information {
        padding: 0;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            .title {
                text-align: right;
                font-family: helv-b;
                padding: 10px;
                margin: 10px;
                width: 50%;
                border-right: 1px solid grey;
            }
            .text {
                width: 50%;
            }
        }
    }
}
