@import '../../fawesome/css/all.min.css';
@font-face {
    font-family: 'helv-b';
    src: url(../../fonts/HelveticaNeueCyr-Black.ttf);
}
@font-face {
    font-family: 'helv-l';
    src: url(../../fonts/HelveticaNeueCyr-Light.ttf);
}